---
import { ColorSchemeScript } from '@mantine/core';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Portfolioサイト" />
		<meta property="og:site_name" content="uchi's Portfolio" />
		<meta property="og:image" content="/portfolio_ogp.jpeg" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@mZVi7KnlMVfNruU" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script type=text/partytown src="https://www.googletagmanager.com/gtag/js?id=G-3T333N2PVG"></script>
		<script type=text/partytown>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-3T333N2PVG');
		</script>
		<ColorSchemeScript client:only />
	</head>
	<body>
		<slot />
	</body>
</html>
